ai news workflow using n8n.json
{
  "name": "AI News Automation using n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type":"n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7951cdf2-4910-48bc-a475-4b75810bb8ee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "2cfd8b10-86ba-4f30-b151-be8caa14c23e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "8cd97958-5e88-4029-8122-2b09a8b7d202",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer assistant. Analyze the news articles and create an email summary.  For each article: Create a headline in ALL CAPS Write a 2-3 sentence summary Include the article link  Format as: Subject: Today's AI News  Hi there,  Here's your AI news summary:  HEADLINE IN CAPS Summary of what happened and why it matters... Read more: [link]  Best regards, AI News Bot"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        0
      ],
      "id": "202d664d-196e-4a07-afad-720e87f94378",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        144
      ],
      "id": "90b3a929-6ca3-4e2e-a790-8d6853935640",
      "name": "Google Gemini Chat Model",
      "credentials": {
    "googlePalmApi": {
        "id": "YOUR_GEMINI_CREDENTIAL_ID",
        "name": "Google Gemini API"
    }
}
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "Daily AI NEWS",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        0
      ],
      "versionId": "1.0.0",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID",
     "credentials": {
    "gmailOAuth2": {
        "id": "YOUR_GMAIL_CREDENTIAL_ID",
        "name": "Gmail OAuth"
    }
}
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "703fa484-28aa-480f-a634-62a17ddc6d4c",
  "meta": {
    "templateCredsSetupCompleted": false
},
  "nodeGroups": [],
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
